@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap')

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Jura', sans-serif


.todo__list
  width: 50vw
  margin: auto
  display: flex
  flex-direction: column
  align-items: stretch

.todo__item
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0.5em
  background-color: lightblue
  border-radius: 0.2em
  margin-bottom: 0.5em
  box-shadow: 0 0 5px 0 black
  &--completed
    background-color: peachpuff
    & > p
    text-decoration: line-through

.todo__actions
  display: flex

.todo__button
  width: 4em
  height: 4em
  cursor: pointer
  border: 1px solid transparent
  border-radius: 100%
  display: flex
  align-items: center
  justify-content: center
  svg
    width: 2em
    height: 2em

.todo__button + .todo__button
  margin-left: 0.5em

.todo__button--complete
  background-color: yellow
  transition: 0.5s

.todo__button--delete
  background-color: crimson
  color: white

.todo__button--edit
  background-color: lightcyan
  color: darkblue

.title
  text-align: center
  margin: 1em auto

.todo__form
  display: flex
  align-items: center
  flex-direction: column
  width: 50vw
  margin: auto

.todo__filters
  width: 50vw
  margin: 1em auto
  display: flex
  align-items: center
  justify-content: center

.todo__filter, .todo__add
  cursor: pointer
  padding: 0.5em 1em
  background-color: cornflowerblue
  border: none
  border-radius: 0.2em
  color: white

.todo__filter + .todo__filter
  margin-left: 0.5em

.todo__input
  margin-bottom: 1em
  border: 1px solid cornflowerblue
  padding: 0.5em
  width: 50%
  height: 5em
  box-shadow: 0 0 10px 0 black